.is-card-bg-warnning {
    background-color: hsl(44, 100%, 85%);
  }
  .is-card-bg-primary {
    background-color: hsl(171, 100%, 85%);
  }
  .is-card-bg-success {
    background-color: hsl(153, 53%, 85%);
  }
  .is-card-bg-info {
    background-color: hsl(207, 61%, 85%);
  }
  .is-card-bg-danger {
    background-color: #f03a5f;
  }