<div class="card p-3 mt-3 mx-2 mirror">
    <div>
        <span class="text-dark fw-bold h3">BIENVENIDO @Admin</span>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, nesciunt.</p>
    </div>
    <app-important-info></app-important-info>
    <div class="row mt-4">
        <div class="col-5">
        <app-dashboard-sub></app-dashboard-sub>
        <div class="">
        </div>
        </div>
        <div class="col-7">
            <div class="row g-2">
                <div class="col-12 bg-danger">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi asperiores voluptatum, similique sed quia officia ullam, ipsum deleniti, architecto numquam excepturi sint obcaecati. Tenetur, dolores dolorem nihil, eligendi ea cum nostrum sint illo enim, culpa impedit voluptatem qui nemo! Sint, quas enim dolor soluta magni quam rem explicabo repellat est debitis commodi reiciendis? Ad laboriosam reprehenderit ab minus, doloremque consectetur. Laborum quis nemo dolor ipsam quisquam voluptates assumenda necessitatibus. Ab facilis accusantium omnis reprehenderit nesciunt illum in odio, obcaecati vitae sint harum magni a hic maiores temporibus quibusdam molestias ea modi totam. Culpa non perspiciatis quod, a aliquid quibusdam aliquam!
                </div>
                <div class="col-12 bg-light">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad autem magni, quia fuga, eligendi laboriosam minus rem cum reprehenderit minima ipsam delectus dolorum? Hic obcaecati, error ratione laudantium perspiciatis laboriosam velit corrupti, natus nam iure nemo, nobis at? Tempore reprehenderit iusto dolores excepturi nemo, accusantium et asperiores culpa fuga assumenda neque optio voluptatum cum inventore ad possimus illum eum fugit delectus? Vero dignissimos consequuntur adipisci repellendus placeat pariatur voluptatibus iste dolores veritatis facilis? Vero accusamus animi harum illum dolores aliquam aspernatur voluptas quaerat, dolor corrupti consectetur eum est voluptatum molestias architecto quos velit debitis iste autem obcaecati possimus deleniti quae?
                </div>
            </div>
        </div>
      </div>
</div>