<div class="row gx-3 mt-4">
  <div class="col">
    <div class="card border-0 shadow-sm p-2 bg-warning">
      <span class="fw-bold h5 text-dark">Pagos Tarjeta</span>
      <p>Se han realizado n cantidad de Pagos</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 shadow-sm p-2 bg-warning">
      <span class="fw-bold h5 text-dark">Pagos Habituales</span>
      <p>se han registrado n cantidad de pagos Habituales</p>
    </div>
  </div>
  <div class="col">
    <div class="card border-0 shadow-sm p-2 bg-warning">
      <span class="fw-bold h5 text-dark">Total</span>
      <span class="text-dark h4 fw-bolder">1178.50C$</span>
    </div>
  </div>

</div>
