<div class="glass p-4 tabla shadow-sm">
  <div class="d-flex flex-row justify-content-between text-white align-items-center">
    <h3>Actividad Reciente</h3>
    <i class="bi bi-cash"></i>
  </div>
  <table class="table text-white">
    <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">cuenta</th>
          <th scope="col">Monto</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
  </table>
</div>
